<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- head 就是自定义的可替换标记  -->
    {% block head %}
        <!-- title 就是自定义的可替换标记  -->
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}

    {# 加载 css #}
    <link rel="stylesheet" href="{{ url_for('static',filename='dist/css/main.css') }}">
</head>
<body>

<div class="h-screen flex flex-col">

    <div class="h-[200px] text-xl bg-blue-100">
        {% block header %}
        {% endblock %}
    </div>

    <div class="grow">
        <!-- content 是自定义的可替换标记  -->
        {% block content %}
        {% endblock %}
    </div>

    <div class="min-h-[100px] bg-gray-700">
        {% block footer %}
        {% endblock %}
    </div>
</div>

</body>
</html>