{% extends "common/layout.html" %}

# 替换title部分的内容
{% block title %} {{ title }} {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">会员注册</div>
				<div class="panel-body">
					<div class="form-horizontal reg-wrap">
						<div class="form-group">
							<label for="login_name" class="col-sm-2 control-label">用户名</label>
							<div class="col-sm-10">
								<input type="email" name="login_name" class="form-control" id="login_name" placeholder="Email">
							</div>
						</div>
						<div class="form-group">
							<label for="login_pwd" class="col-sm-2 control-label">密码</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="login_pwd" name="login_pwd" placeholder="Password">
							</div>
						</div>
						<div class="form-group">
							<label for="login_pwd2" class="col-sm-2 control-label">确认密码</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" id="login_pwd2" name="login_pwd2" placeholder="Password">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success btn-block do-reg">注册</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ buildStaticUrl('/src/js/member/reg.js') }}"></script>
{% endblock %}