{% extends "common/layout.html" %}

# 替换title部分的内容
{% block title %} 数据库查询 {% endblock %}

# 替换 head 的内容
{% block head %}
	<!-- 用于继承原有的信息-->
	{{ super() }}
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% endblock %}

{% block content %}
	<h4 style="margin: 8px 0">这是 Flask 数据库查询页面</h4>
	<ul>
		{% for user in users %}
			<li>{{ user.login_name }}</li>
			<li>{{ user.nickname }}</li>
			<li>{{ user.login_pwd }}</li>
			<li>{{ user.created_time }}</li>
			<li>{{ user.updated_time }}</li>
		{% endfor %}
	</ul>
{% endblock %}
